<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Configuration packages="com.smarttrade.util.logging.log4j" strict="true">
    <Appenders>
        <Console name="CONSOLE">
            <PatternLayout pattern="%d{ABSOLUTE_MICROS} %-5p [%t][%c{0}]%m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</Configuration>
